$cor: lightcoral;

body{
    background: $cor;
}

@mixin botao{
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
    border: none;
    font-size: 1.5em;
}

.botao-primary{
    @include botao;
    color: snow;
    background: black;
}

.botao-danger{
    @include botao;
    background: plum;
}

